<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to GitHub(by) Express</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="../public/style.css">
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <h1 style="text-align: center; background-color: rgba(245, 245, 220, .8);">Welcome to GitHub(by) Express!!!</h1>
    <p style="text-align: center; border: 2px solid; color:black; background-color: rgba(245, 245, 220, .8)">Welcome to the newest social media platform to get to know other coders and start new bonds and relationships.</p>
    <p style="text-align: center; border: 2px solid; color:black; background-color: rgba(245, 245, 220, .8)">Please input your login information. If you do not have an account, please create simply a new account.</p>
    <form>
        <div>
            <label for="user">Username:</label>
            <input type="text" id="user" name="username" />
        </div>
        <div>
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="password" minlength="8" required />
        </div>
        <button id="loginBtn">Login</button>
    </form>
  </body>
</html>
