<!doctype html>
        <footer class="site-footer">
            <div class="container">
                <div class="row justify-content-evenly">
                    <div class="col-8">
                        <h6>About</h6>
                        <p class="text-justify">
                            To read more about the project, visit the README.md file. For our project we created a few different
                            clicking tests. The first is clicks per second to see how many clicks the user can do in 10 seconds. The second is
                            a reaction time test. There will be three buttons that pop up with only one of them being green. This score will be determined by
                            how fast the user can get 5 correct. Finally the last test is a mouse accuracy test. Buttons will pop up randomly on the screen in different locations
                            and the user must move their cursor to press 5 of them. We also have a leaderboard page as well to see logged in users best scores.
                        </p>
                    </div>
        
                    <div class="col-2">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li><a href="/">Home</a></li>
                            <li><a href="/reaction">Reaction Time</a></li>
                            <li><a href="/cps">Clicks Per Second</a></li>
                            <li><a href="/accuracy">Accuracy</a></li>
                            <li><a href="/leaderboard">Leaderboard</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-8 col-sm-6 col-xs-12">-->
<!--                        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by-->
<!--                            <a href="#">Scanfcode</a>.-->
<!--                        </p>-->
<!--                    </div>-->
<!--        -->
<!--                    <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--                        <ul class="social-icons">-->
<!--                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>-->
<!--                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </footer>
    </body>
</html>