<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/game.css">
</head>

<body>
    <header>
        <p class="welcome">Welcome Player</p>
        <p class="highscore">Your High Score: 0</p>
        <a href="/leaderboard">leaderboard</a>
    </header>
    <div class="container">
        <button class="btnStart">Start Game</button>
        <h1 class="score"></h1>

        <main class="gameContainer">
            <div class="backgroundContainer"></div>
            <button class="target" data-target="1"></button>
            <button class="target" data-target="2"></button>
            <button class="target" data-target="3"></button>
        </main>
        <h1 class="status"></h1>
    </div>



    <script src="/js/game.js"></script>
</body>

</html>