<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game</title>
</head>
<%- include('header') %>
<main>
  <h2>Please log in to your account:</h2>

  <body>

    <form>

      <span class="hometext"> <a href="/login"> Login </a> </span>
      <span class="hometext"> <a href="/signup"> Sign Up </a> </span>
      <span class="hometext"> <a href="/leaderboard"> Leader Board </a> </span>

    </form>
  </body>
</main>

<body>

  <link rel="stylesheet" href="/styles/login.css">
</body>

</html>