<%- include('header', { title: 'ReactionTests' }) -%>
<div class="main-content">

    <div class="px-4 py-3 text-center">
        <img class="d-block mx-auto mb-4" src="/images/stopwatch.png" alt="Stopwatch Logo" width="150vw" height=150vw">
        <h1 class="display-5 fw-bold text-white">ReactionTests</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4 text-muted">Play various games to test your reaction time, accuracy, click speed, and aim training! You can compete against friends and check your rankings on the leaderboard page!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <%if (user) {%>
                    <a href="/leaderboard" class="btn btn-outline-info btn-lg px-4">Leaderboard</a>
                <%} else {%>
                    <a href="/login/federated/github" class="btn btn-outline-info btn-lg px-4"><span class="fa fa-github"></span> Github Login</a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="container px-4 py-3 mb-5">
        <h2 class="pb-2 border-bottom text-white">Games</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
            <div class="feature col">
                <div class="feature-icon rounded d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <img class="m-1" style="width: 3vw; height: 3vw" src="/images/stopwatch.svg" alt="stopwatch">
                </div>
                <h3 class="fs-2 text-white">Reaction</h3>
                <p class="text-muted">Check your reaction time by clicking as fat as you can when the box turns green!</p>
                <a href="/reaction" class="icon-link d-inline-flex align-items-center">
                    Reaction Time&ensp;
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
            <div class="feature col">
                <div class="feature-icon rounded d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <img class="m-1" style="width: 3vw; height: 3vw" src="/images/mouse-pointer.svg" alt="mouse">
                </div>
                <h3 class="fs-2 text-white">Clicks</h3>
                <p class="text-muted">See how many clicks you can get in 10 seconds!</p>
                <a href="/reaction" class="icon-link d-inline-flex align-items-center">
                    Clicks Per Second&ensp;
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
            <div class="feature col">
                <div class="feature-icon rounded d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <img class="m-1" style="width: 3vw; height: 3vw" src="/images/bullseye.svg" alt="bullseye">
                </div>
                <h3 class="fs-2 text-white">Accuracy</h3>
                <p class="text-muted">Test both your reaction time and accuracy at once!</p>
                <a href="/reaction" class="icon-link d-inline-flex align-items-center">
                    Accuracy&ensp;
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
            <div class="feature col">
                <div class="feature-icon rounded d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <img class="m-1" style="width: 3vw; height: 3vw" src="/images/gamepad.svg" alt="gamepad">
                </div>
                <h3 class="fs-2 text-white">Aim Training</h3>
                <p class="text-muted">Check your reaction time by clicking as fat as you can when the box turns green!</p>
                <a href="/reaction" class="icon-link d-inline-flex align-items-center">
                    Aim Training&ensp;
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    
    
    
    
<!--    <div class="px-2 py-2 my-2 text-center">-->
<!--    &lt;!&ndash;    <img class="d-block mx-auto mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">&ndash;&gt;-->
<!--        -->
<!--        -->
<!--        -->
<!--        <h1 class="display-5 fw-bold text-light">INDEX</h1>-->
<!--        <div class="col-lg-auto mx-auto">-->
<!--            <p class="lead mb-5 text-muted">Test your reaction time, accuracy and more!</p>-->
<!--            <div class="container text-center justify-content-sm-center">-->
<!--                <%if (user) {%>-->
<!--                <div class="row">-->
<!--                    <div class="col">-->
<!--                        <p class="lead mb-4 text-muted">Play games by going to a page above.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col-md-5 align-self-center">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">-->
<!--                                    Your Scores:-->
<!--                                </h5>-->
<!--                                &lt;!&ndash; TODO: &ndash;&gt;-->
<!--                                <p class="card-text">-->
<!--                                    Display past scores here-->
<!--                                </p>-->
<!--                            </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                    -->
<!--                <% } else { %>-->
<!--                    <p class="lead mb-4 text-muted">Please login above to continue.</p>-->
<!--                <% } %>-->
<!--            </div>-->
<!--        &lt;!&ndash;        <p class="lead mb-lg-4" style="padding-top: 3rem">Notes:</p>&ndash;&gt;-->
<!--                -->
<!--            -->
<!--        </div>-->
<!--    -->
<!--&lt;!&ndash;        <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="modal-dialog">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="modal-content">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="modal-header">&ndash;&gt;-->
<!--&lt;!&ndash;                        <h5 class="modal-title" id="staticBackdropLabel">Edit Note</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="modal-body">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="text" class="form-control" id="editedText">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="hidden" id="editId" value="-1">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="modal-footer">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <button type="button" class="btn btn-primary" id="saveEditBtn">Save Changes</button>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
</div>
<%- include('footer') -%>

