<head>
  <meta />
</head>
<body>
  <h1>This is the final project</h1>
  <a href="http://localhost:3000/auth/github">GitHub login</a>
  <a href="http://localhost:3000/auth/google">Google login</a>
  <h1>Login Page</h1>
  <form method="POST" action="/auth/local">
    Enter Username:<br /><input type="text" name="uname" /><br />Enter
    Password:<br /><input type="password" name="pw" /><br /><br /><input
      type="submit"
      value="Submit"
    />
  </form>
  <form method="POST" action="/auth/register">
    Enter Username:<br /><input type="text" name="uname" /><br />Enter
    Password:<br /><input type="password" name="pw" /> <br /><br />
    <input
      type="submit"
      value="Register"
    />
  </form>
  <p><%= msg %></p>
</body>
