<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game</title>
</head>
<%- include('header') %>
<main>
  <h2>Below is the leaderboard:</h2>

  <body>

    <table id="scoretable">
        <tr>
            <th>Player Name</th>
            <th>Score</th>
        </tr>

    </table>
    <link rel="stylesheet" href="/styles/login.css">
    <script src="/js/leaderboard.js"></script>
  </body>
</main>

 

</html>