<%- include('header', { title: 'ReactionTests' }) -%>
<div class="main-content">
    <div class="px-2 py-2 my-2 text-center mx-auto" style="max-width: 70vw">
        <!--    <img class="d-block mx-auto mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h1 class="display-5 fw-bold text-light">Leaderboards</h1>
        <div class="col-lg-auto mx-auto vh-80">
            <p class="lead mb-4 text-muted">Click on the leaderboard button you wish to view</p>
            <button id="cpsBoardBtn" class="btn btn-success mb-4">Clicks Per Second</button>
            <button id="accuracyBoardBtn" class="btn btn-success mb-4">Accuracy</button>
            <button id="reactionBoardBtn" class="btn btn-success mb-4">Reaction</button>
            <button id="aimBoardBtn" class="btn btn-success mb-4">Aim Test</button>
            <p id="statusText" class="text-muted"> </p>
        </div>
    </div>
    
    <table id="leaderboard-table" class="table table-hover table-dark">
        <tr>
        </tr>
    </table>
    
</div>
<script src="/javascripts/leaderboard.js"></script>
<%- include('footer') -%>