<!DOCTYPE html>
<html lang="en">
<head>
    <title>GitHub(by) Express</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css">

</head>
<body>
<h1 style="background-color: rgba(245, 245, 220, 0.8)">GitHub(by) Express</h1>
<form>
<div class="row">
    <div style="background-color: rgba(245, 245, 220, 0.8);" class="col">
        <h2 style="text-align: center;">Personal Information</h2>
<!--        <form>-->
            <label for="fName">First Name:</label>
            <input type="text" id="fName" name="fName" required><br><br>
            <label for="lName">Last Name:</label>
            <input type="text" id="lName" name="lName" required><br><br>
            <label for="addr">Address:</label>
            <input type="text" id="addr" name="addr" required><br><br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required><br><br>
            <label for="ageSlider">Age:</label>
            <label id="ageValue"></label>
            <input style="float: right;" type="range" id="ageSlider" name="Age" min="18" max="200" step="1" oninput="document.getElementById('ageValue').innerHTML = this.value" required /><br><br>
<!--        </form>-->
    </div>
    <div style="background-color: rgba(245, 245, 220, 0.8);" class="col">
        <h2 style="text-align: center;">Tell us about yourself!</h2>
<!--        <form>-->
            <label for="hobbies">Hobbies:</label>
            <input type="text" id="hobbies" name="hobbies" required><br><br>
            <label for="fProject">First Project:</label>
            <input type="text" id="fProject" name="fProject" required><br><br>
            <label for="currProject">Current Project:</label>
            <input type="text" id="currProject" name="currProject" required><br><br>
            <p style="text-align: center;">Mingle or Looking to Date?</p>
            <input style="margin-left: 30%;" type="radio" id="mingleStatus" name="status" value="Mingle" required>
            <label for="mingleStatus">Mingle</label>
            <input style="margin-left: 10%;" type="radio" id="toDateStatus" name="status" value="Date" required>
            <label for="toDateStatus">Date</label><br><br>
<!--        </form>-->
    </div>
    <div style="background-color: rgba(245, 245, 220, 0.8);" class="col">
        <h2 style="text-align: center;">Preferences</h2>
<!--        <form>-->
            <label for="yAgeRange">Lowest Age Preference:</label>
            <input type="text" id="yAgeRange" name="yAgeRange" required><br><br>
            <label for="oAgeRange">Oldest Age Preference:</label>
            <input type="text" id="oAgeRange" name="oAgeRange" required><br><br>
            <label for="distSlider">Distance (0 and 20k+ miles): </label>
            <label id="distValue"></label>
            <input style="float: right;" type="range" id="distSlider" name="Distance" min="0" max="20000" step="50" oninput="document.getElementById('distValue').innerHTML = this.value" required /><br><br>
            <label for="sexualOrientation">Sexual Orientation:</label>
            <select name="sexualOrientation" id="sexualOrientation" required>
                <option value="" disabled selected hidden>Choose an option</option>
                <option value="Gay">Gay</option>
                <option value="Lesbian">Lesbian</option>
                <option value="Heterosexual">Heterosexual</option>
                <option value="Bisexual">Bisexual</option>
                <option value="Pansexual">Pansexual</option>
                <option value="Asexual">Asexual</option>
                <option value="Other">Other</option>
            </select>
<!--        </form>-->
    </div>
</div>
    <div style="text-align: center;"><button id = "formSubmit" class="submitButton-container">Submit</button></div>
<!--<div class="submitButton-container" style="text-align: center;"><input style="text-align: center;" type="submit" id="submitBtn" onclick="submit()"></div>-->
</form>
<script src="/main.js"></script>
</body>
</html>
