<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/profileCard.css">
</head>
<body>
    <div id="sideNavBar" class="sidenav">
        <a href="javascript:void(0)" class="collapseBtn" onclick="closeNav()">&times;</a>
        <p id="loggedIn"></p>
        <a href="/profile.html">Profile</a>
        <a href="/matching.html">Matching</a>
        <a href="/index.html">Log Out</a>
    </div>
    <span style="font-size:30px;cursor:pointer;color: white" onclick="openNav()">&#9776;</span>
<div class ="container-fluid">
    <h1>Matching Page</h1>
    <div class = "row" id="row">
</div>

    </div>



<script src="/matching.js"></script>
</body>
</html>