<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body style="background-image: url('/unsplash-7rXu_HJO9D8-unsplash.jpg');">
    <div id="sideNavBar" class="sidenav">
        <a href="javascript:void(0)" class="collapseBtn" onclick="closeNav()">&times;</a>
        <p id="loggedIn"></p>
        <a href=#home>Home</a>
        <a href="/main.html">Main</a>
        <a href="/profile.html>">Profile</a>
    </div>
    <span style="font-size:30px;cursor:pointer;color: white" onclick="openNav()">&#9776;</span>
    <div>
        <h1 style="background-color: rgba(245, 245, 220, 0.8);">Profile</h1>
    </div>
    <div>
        <p style="background-color: rgba(245, 245, 220, 0.8); text-align: center;">Welcome to your profile!</p>
    </div>
    <div class="row">
        <div class="col" style="background-color: rgba(245, 245, 220, 0.8);">
            <img src="/public/michael-dam-mEZ3PoFGs_k-unsplash.jpg" style="object-fit: contain; width: 100px; height: 150px;"></img>
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: rgba(245, 245, 220, 0.8);">
            <h2>First Project</h2>
            <label for="nameOfFP">Name:</label>
            <p id="nameOfFP">[Hello, name of project goes here.]</p>
            <label for="descOfFP">Description:</label>
            <p id="descOfFP">[This is the description of the project.]</p>
            <label for="gitHubRepo">Here's the link to my GitHub Repo:</label>
            <p id="gitHubRepo1">[This is the GitHub Repository link to the project.]</p>
        </div>
        <div class="col" style="background-color: rgba(245, 245, 220, 0.8);">
            <h2>Current Project</h2>
            <label for="nameOfCP">Name:</label>
            <p id="nameOfCP">[Hello, name of project goes here.]</p>
            <label for="descOfCP">Description:</label>
            <p id="descOfCP">[This is the description of the project.]</p>
            <label for="gitHubRepo">Here's the link to my GitHub Repo:</label>
            <p id="gitHubRepo2">[This is the GitHub Repository link to the project.]</p>
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: rgba(245, 245, 220, 0.8);">
            <p id="desiredStatus">[This person is looking to Mingle/Date]</p>
            <button id="editButton">Edit</button>
            <button id="updateButton">Update</button>
        </div>
    </div>

<script src="/profile.js"></script>
</body>
</html>