<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body style="background-image: url('/unsplash-7rXu_HJO9D8-unsplash.jpg');">
    <div id="sideNavBar" class="sidenav">
        <a href="javascript:void(0)" class="collapseBtn" onclick="closeNav()">&times;</a>
        <p id="loggedIn"></p>
        <a href=#home>Home</a>
        <a href="/main.html">Main</a>
        <a href="/profile.html>">Profile</a>
    </div>
    <span style="font-size:30px;cursor:pointer;color: white" onclick="openNav()">&#9776;</span>
    <div>
        <h1>Profile</h1>
    </div>


<script src="/profile.js"></script>
</body>
</html>