<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>
<div class="header">
    <h1>Sign Up to Reaction Game</h1>
</div>
<main>
    <h2>Please create an account:</h2>

    <body>

        <form id="signupForm">
            <div class="container">
                <label>Username : </label>
                <input type="text" placeholder="Enter Username" name="username" id="signupUsername" required>
                <label>Password : </label>
                <input type="password" placeholder="Enter Password" name="password" id="signupPassword" required>
                <label>Confirm Password : </label>
                <input type="password" placeholder="Confirm Password" name="repassword" id="signupPasswordConfirm"
                    required>
                <button type="submit">Signup</button>

                <BR><BR>
                <span> <a href="/login"> Login </a> </span>
            </div>
        </form>
    </body>
</main>

<body>

    <script src="/js/signup.js"></script>
    <link rel="stylesheet" href="/styles/login.css">
</body>

</html>