/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}


.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}

td {
  padding: 0;  
}

div.timeCol {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  margin-top: .75em;
}

p.time {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  margin-right: 5px;
  height: 1em;
  text-align: right;
}

div.calendar {
  display: inline-block;
  vertical-align: top;
}

p.cal-day {
  width: 100px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

div.timeslot {
  border: solid;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  color: gray;
  width: 100px;
  height: 1em;
  text-align: center;
  overflow: hidden;
}

p.percentage {
  padding: 0;
  margin: -.2em;
  font-size: .75em;
}

div.timeslot.tophalf {
  border-bottom-width: 0px;
}

.dispEvent {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 5fr 1fr;
  gap: 10px;
  grid-template-areas:
    "content cal"
 ;
}

.content {
  grid-area: content;
}

.cal {
  grid-area: cal;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 5px;
  margin-right: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}