#basic {
    max-width: 85%;
    margin: 0 auto;
}

.blue-bg {
    background: linear-gradient(#b6e7f1,  #878be3) fixed;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-text {
    text-align: center;
}

.account-form {
    width: 40%;
    max-width: 480px;
    background-color: white;

    padding: 50px 40px 60px;
}



/* Text fadeout modified from https://stackoverflow.com/questions/22666063/how-to-fade-the-edge-of-a-div-with-just-css */

.directions {
    position:relative;
    /*max-*/height: 9.5em;
    overflow:hidden;
}

.directions:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, 
                      rgba(255,255,255, 0), 
                      rgba(255,255,255, 1) 90%);
    width: 100%;
    height: 6em;
  }