#basic {
    max-width: 85%;
    margin: 0 auto;
}

.blue-bg {
    background: linear-gradient(#b6e7f1,  #878be3) fixed;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-text {
    text-align: center;
}

.account-form {
    width: 40%;
    max-width: 480px;
    background-color: white;

    padding: 50px 40px 60px;
}