:root {
    --topbar-height: 10vh;
}

.home-page-container {
    background-image: url("../../assets/images/iStock-grocery-store.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.input-text {
    color: rgba(140, 140, 140, 1);
}

.home-page-container {
    background-image: url("../../assets/images/iStock-grocery-store.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.input-text {
    color: rgba(140, 140, 140, 1);
}

.topbar-logo {
    height: 100%;
    width: auto;
}

.navbar {
    height: var(--topbar-height);
}

.home-page-sections {
    height: calc(100vh - var(--topbar-height));
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, calc(100vw / 4));
}

.home-page-sections section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.home-page-sections section.red {
    background-color: red;
}

.home-page-sections section.black {
    background-color: black;
}